<p-table [value]="files">
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Tamaño (KB)</th>
        <th>Tipo</th>
        <th>Procesado</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-file>
      <tr>
        <td>{{file.name}}</td>
        <td>{{file.size}}</td>
        <td>{{file.type}}</td>
        <td>
          <p-checkbox 
            [(ngModel)]="file.processed"
            (onChange)="toggle.emit(file)">
          </p-checkbox>
        </td>
        <td>
          <button pButton icon="pi pi-trash" class="p-button-text"
                  (click)="remove.emit(file)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  